<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MICROCMS_API_KEY</key>
	<string>YOUR_MICROCMS_API_KEY</string>
	<key>INNERTUBE_KEY_WEB_REMIX</key>
	<string>YOUR_INNERTUBE_KEY</string>
	<key>INNERTUBE_KEY_IOS</key>
	<string>YOUR_INNERTUBE_KEY</string>
	<key>INNERTUBE_KEY_TVHTML5</key>
	<string>YOUR_INNERTUBE_KEY</string>
	<key>INNERTUBE_KEY_ANDROID_MUSIC</key>
	<string>YOUR_INNERTUBE_KEY</string>
	<key>INNERTUBE_KEY_WEB</key>
	<string>YOUR_INNERTUBE_KEY</string>
	<key>INNERTUBE_KEY_ANDROID_VR</key>
	<string>YOUR_INNERTUBE_KEY</string>
	<key>PUSH_NOTIFICATION_BASE_URL</key>
	<string>https://your-worker-subdomain.workers.dev</string>
</dict>
</plist>
